@AutomationLog.txt
*.pyc
indicator/main.py
low_volume_blacklist.json
*.log

agent/deepseek.token
agent/okx.token
indicator/qq.token

trading_state.json
indicator/analysis_cache/*

logs/*
*log.txt
trading_state.json

# GitHub Pages
gh-pages/
docs/index.html
docs/index_hka.html
docs/meta.json
