@AutomationLog.txt
*.pyc
*.log

agent/deepseek.token
agent/okx.token
indicator/qq.token

trading_state.json
low_volume_blacklist.json
indicator/analysis_cache/*

logs/*
*log.txt
trading_state.json

# GitHub Pages
gh-pages/
docs/index*.html
docs/meta*.json
.last_run_*
